/* ================== START CSS FILE FOR HOME PAGE ================== */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Comfortaa:wght@300;400;500;600;700&family=Encode+Sans:wght@700&family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Tajawal:wght@300;400;500;800&display=swap');
* {
  font-family: 'Cairo', sans-serif !important;
  box-sizing: border-box;
}
body{
  background-color: #FFFFFF;
}
.navbar{
  height: 72px;
}
/* swip left for menu */
.fixed-menuAgain {
  background-color: #fff;
  color: #222;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  right: -10090px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.xxxx{
  background-color: #fff;
  width: 100%;
  transition: 0.1s !important;
}
.fixed-menuAgain ul {
  margin-top: 8px;
  list-style: none;
  text-align: right;
}
.fixed-menuAgain li {
  margin-top: 25px;
}
.fixed-menuAgain li a {
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.fixed-menuAgain li a:hover {
  color: #B92728;
  transition: 0.3s ease-in-out;
}
.fixed-menuAgain .fa-chevron-righttt {
  position: absolute;
  left: -116px !important;
  top: 16px;
  padding: 10px 15px;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 0px solid transparent;
  border-radius: 0.25rem;
  background-color: transparent !important;
}
.nav-logoo{
  margin-top: -14px;
}
.nav-link{
  color: #212529;
  font-size: 16px;
}
.link-911{
  font-size: 12px !important;
}
.navbar-nav{
  margin-top: 20px !important;
}
.dropdown-item{
  color: #212529;
}
.search-bar{
  width: 700px;
  height: 56px;
  border: none; 
  outline: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 50px;
}
.search-bar::placeholder{
  color: #A6A6A6;
  font-weight: 400;
  font-size: 16px;
}
/* NAVBAR FOR MOBILE APP */
.nav-mobile{
  display: none;
}
.nav-mobile a{
  margin-left: 15px;
}
/* NAVBAR FOR MOBILE APP */

.sec-navbar{
  height: 66px !important;
  background-color: #B92728 !important;
  box-shadow: 0px 0px 0px;
}
.sec-navbar .nav-item .nav-link{
  color: #FFFFFF;
}
.sec-navbar .navbar-nav{
  margin-top: 0px !important;
}
.sub-menu-1{
  display: none;
  z-index: 10000000;
}
.main-dropdown-1:hover .sub-menu-1{
  display: block;
  position: absolute;
  width: 200px;
  background-color: #F5F5F5;
  margin-top: 3px;
  margin-left: -15px;
  z-index: 10000000;
}
.main-dropdown-1:hover .sub-menu-1 ul{
  display: block;
  list-style: none;
}
.main-dropdown-1:hover .sub-menu-1 ul li{
  text-align: right;
  padding: 10px;
  margin: 3px 0px;
  border-radius: 0px;
  background: transparent;
}
.main-dropdown-1:hover .sub-menu-1 ul li a{
  color: #212529;
}
.sub-menu-2{
  display: none;
  z-index: 10000000;
}
.hover-me:hover .sub-menu-2{
  position: absolute;
  display: block;
  top: 0px;
  width: 200px;
  margin-right: 150px;
  background-color: #F5F5F5;
  border-right: 1px double #E5E9F2;
  z-index: 10000000;
}
.hover-me:hover .sub-menu-2 ul{
  display: block;
}
.hover-me:hover .sub-menu-2 ul li{
  text-align: right;
  padding: 10px;
  margin: 3px 0px;
  border-radius: 0px;
  background: transparent;
}
.hover-me:hover .sub-menu-2 ul li a{
  color: #212529;
}
.sub-menu-3{
  display: none;
  z-index: 10000000;
}
.hover-me-2:hover .sub-menu-3{
  position: absolute;
  display: block;
  top: 0px;
  width: 200px;
  margin-right: 149px;
  background-color: #F5F5F5;
  border-right: 1px double #E5E9F2;
  z-index: 10000000;
}
.hover-me-2:hover .sub-menu-3 ul{
  display: block;
}
.hover-me-2:hover .sub-menu-3 ul li{
  text-align: right;
  padding: 10px;
  border-radius: 0px;
  margin: 3px 0px;
  background: transparent;
}
.hover-me-2:hover .sub-menu-3 ul li a{
  color: #212529;
}
.navbar-icons-left li{
  margin-left: 20px;
}

/* carousel */
.carousel-indicators li {
  width: 5px !important;
  height: 5px !important;
  background-color: #B92728 ;
}
/* 12 card of image */
.mainss{
  margin-top: 1rem;
}
.slide-container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.arrow {
  width: 2rem;
  margin: 0 1rem;
}
.divS {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.divS::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}
.divS .thumbnail {
  flex: 0 0 auto;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
  width: 111px;
  border: 0px;
  overflow: hidden;
  transform: scale(0.95);
  transition: all 0.3s;
}
.divS .thumbnail:hover {
  transform: scale(1);
}
.product-details {
  text-align: center;
  padding-bottom: 1rem;
  background-color: #fff;
}
.product-details h2 {
  font-weight: 700;
  font-size: 14px;
  color: #212529;
}
/* 12 card of image */
/* slider-products-2 */
.slider-products-2{
  margin: 0rem 0rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  background: rgba(121, 136, 151, 0.1);
}
.row-products{
  background-color: #B92728;
  border-radius: 20px;
}
.title-p{
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.title-link{
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.folder-image{
  max-width: 100%;
}
/* section 5 lg-background */
.jumbotron {
  padding-top: 1rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}
.bg-counter-section .counter-section-card-1{
  background-color: #364B70;
  border-radius: 50px 0px;
  width: 400px;
}
.counter-section-card-1 .card-title{
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
/* counted time */
.counter-section-card-2,.counter-section-card-3{
  border: 0px;
}
.counter-section-card-2 .card-body{
  color: #364B70;
  font-size: 50px;
}
.counter-section-card-2 span{
  padding: 15px;
  margin: 1px;
  /* on res margin = 0 */
  background-color: #364B70;
  color: #fff;
  font-weight: 700;
  font-size: 33px;
  /* on res fs = 14px */
}
.col-bitc{
  margin-top: -15px;
}
/* counted time */

/* section 5 lg-background */
/* section 6 deals */
.section-deals{
  margin-top: -40px;
  padding-top: 1.5rem;
}
.section-deals .card{
  border: 0px;
}
.deals-heading{
  font-weight: 700;
  font-size: 28px;
  color: #323232;
}
.deals-p{
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  color: #B92728;
}
.special-letter{
  color: #212529;
}
.bord-dashed{
  padding: 2px;
  border: 2px dashed #B92728;
  border-radius: 50px;
}
.red-bg{
  padding: 12px;
  background: #B92728;
  border-radius: 50px;
}
.red-bg h2{
  font-weight: 700;
  font-size: 45px;
  color: #fff;
}
/* section 7 today-offer */
.today-offer{
  background-color: #FFF6F2;
}
.today-offer .heading-c-t{
  font-weight: 700 !important;
  font-size: 20px !important;
  color: #212922 !important;
}
.heading-span{
  color: #B92728;
}
.btn-link-a{
  background: #B92728;
  border-radius: 20px;
  padding: 8px 15px;
  color: #fff;
}
.today-sall-of{
  position: relative;
}
.img-boxed{
  position: relative;
  transition: 0.6s;
}
.ul-imges-ghost{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  position: absolute;
  bottom: -18px;
  left: 0px;
  width: 100%; 
  height: 80px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: 0.4s;
}
.img-boxed:hover .ul-imges-ghost{
  opacity: 1;
  transition: 0.4s;
}
.img-add-1{
  width: 33px;
}
.img-like-2{
  width: 30px;
}
.img-view-3{
  width: 36px;
}
.sall-off-15{
  position: absolute;
  top: -1px;
  left: -1px;
}
.sall-off-15 p{
  position: absolute;
  top: 20px;
  left: -4px;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
  transform: rotate(-50deg);
}
.today-offer .card-title{
  font-weight: 500;
  font-size: 18px;
  color: #212529;
}
.rate-stars{
  max-width: 130px;
}
.clinet-rate{
  font-size: 14px;
  color: #212922;
  /* 123444 */
}
.shipping-btn{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.btn-1{
  margin-right: -20px;
  background: #B92728;
  padding: 4px 15px;
  color: #fff;
  border-radius: 50px 0px;
  font-weight: 700px;
  font-size: 14px;
}
.btn-2{
  font-weight: 700;
  font-size: 24px;
  color: #B92728;
}
.instead-of{
  text-decoration: line-through;
  color: #323232;
  font-size: 18px;
}
/* section 7 today-offer */
/* section 8 Super Ramadan Offers */
.super-ramadan-offers{
  padding-top: 0rem;
  padding-bottom: 2rem;
}
.super-24-hours{
  display: flex;
  justify-content: center;
}
.content-24 p{
  width: 400px;
  background: #364B70;
  border-radius: 50px 0px;
  padding: 12px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.box-1-of-ramadan h5{
  font-weight: 500;
  font-size: 18px;
  color: #364B70;
}
.box-1-of-ramadan{
  border: 0.5px solid #C4C4C4;
  border-bottom-right-radius: 50px;
}
.box-1-of-ramadan p{
  font-weight: 700;
  font-size: 32px;
  color: #B92728;
}
.super-ramadan-offers .card{
  box-sizing: border-box;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px 0px;
}
/* section 8 */
/* section 9 today offer number-2 */
.today-offer-number-2{
  background: rgba(54, 75, 112, 0.1);
}
.today-offer-number-2 .t-for-title-card-6{
  font-weight: 500;
  font-size: 13px;
  color: #212529;
}
.rate-stars-card-6{
  max-width: 60px;
}
.clinet-rate-card-6{
  font-size: 11px;
  color: #212922;
}
.shipping-btn-card-6{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.btn-3{
  margin-right: -40px;
  background: #B92728;
  padding: 4px 15px;
  color: #fff;
  font-weight: 700px;
  font-size: 9px; 
  border-radius: 32px 0px;
}
.btn-4{
  font-weight: 700;
  font-size: 12px;
  color: #B92728;
}
.instead-of-card-6{
  text-decoration: line-through;
  color: #323232;
  font-size: 10px;
}
.img-boxed-2{
  position: relative;
  transition: 0.6s;
}
.ul-imges-ghost-2{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  position: absolute;
  bottom: -16px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: 0.4s;
}
.img-boxed-2:hover .ul-imges-ghost-2{
  opacity: 1;
  transition: 0.4s;
}
.ul-imges-ghost-2 li {
  margin-left: 40px;
}
.img-add-4{
  width: 26px;
}
.img-like-5{
  width: 24px;
}
.img-view-6{
  width: 28px;
}
/* section 9 today offer number-2 */
/* section 10 super ramadan offers 2 */
.super-ramadan-offers-2{
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.super-ramadan-offers-2 .heading-r-o{
  font-weight: 700;
  font-size: 18px;
  color: #323232;
}
.heading-span-2{
  color: #B92728;
}
.btn-link-a-2{
  background: #364B70;
  border-radius: 20px;
  padding: 8px 15px;
  color: #fff;
}
.box-1-of-ramadan-2 h5{
  font-weight: 700;
  font-size: 20px;
  color: #364B70;
}
.super-ramadan-offers-2 .card{
  border: 0px;
}
/* section 10 super ramadan offers 2 */
/* section 12 super ramadan offers 2 */
.super-24-hours-3{
  display: flex;
  justify-content: center;
}
.content-24-3 p{
  background: #B92728;
  border-radius: 50px 0px;
  padding: 13px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.box-1-of-ramadan-3 h5{
  font-weight: 700;
  font-size: 18px;
  color: #364B70;
}
/* section 12 */
/* super-ramadan-offers-3 */
.super-ramadan-offers-3{
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.super-ramadan-offers-3 .heading-r-o-3{
  font-weight: 700;
  font-size: 20px;
  color: #323232;
}
.super-ramadan-offers-3 .card{
  border: 0px;
}
/* section 14 super ramadan offers 4 */
.super-ramadan-offers-4{
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.super-ramadan-offers-4 .heading-r-o{
  font-weight: 700;
  font-size: 25px;
  color: #323232;
}
.heading-span-2{
  color: #B92728;
}
.btn-link-a-4{
  background: #B92728;
  border-radius: 20px;
  padding: 8px 15px;
  color: #fff;
}
.box-1-of-ramadan-4 h5{
  font-weight: 700;
  font-size: 25px;
  color: #323232;
}
.super-ramadan-offers-4 .card{
  border: 0px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
/* section 14 */
/* section 15 super ramadan offers 5 */
.super-ramadan-offers-5{
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #B92728;
}
.super-ramadan-offers-5 .heading-r-o{
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}
.super-ramadan-offers-5 .heading-r-o-p{
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.btn-link-a-5{
  background: #fff;
  border-radius: 20px;
  padding: 8px 15px;
  color: #B92728;
}
.box-1-of-ramadan-5 h5{
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.super-ramadan-offers-5 .card{
  background: #B92728;
  border: 0px;
  box-sizing: border-box;
}
.dashed-border{
  border: 2px dashed #fff;
  border-radius: 50%;
}
/* section 15 */
/* super-ramadan-offers-6 */
.super-ramadan-offers-6{
  padding-top: 0rem;
  padding-bottom: 2rem;
  background: rgba(54, 75, 112, 0.1);
}
.super-ramadan-offers-6 .heading-r-o{
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding: 13px;
  background: #364B70;
  border-radius: 50px 0px;
}

.btn-link-a-66{
  background: #364B70;
  border-radius: 20px;
  padding: 8px 15px;
  color: #fff;
}
.box-1-of-ramadan-6 h5{
  font-weight: 700;
  font-size: 20px;
  color: #364B70;
}
.box-1-of-ramadan-6 .title-sall-food-ramadan{
  font-weight: 700;
  font-size: 32px;
  /* on res fs = 15px */
  color: #B92728;
}
.super-ramadan-offers-6 .card{
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px 0px;
}

/* super-ramadan-offers-6 */
.super-ramadan-offers-7{
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff;
}
.super-ramadan-offers-7 .heading-r-o{
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding: 13px;
  background: #B92728;
  border-radius: 50px 0px;
}
.btn-link-a-7{
  background: #B92728;
  border-radius: 20px;
  padding: 8px 15px;
  color: #fff;
}
.box-1-of-ramadan-7 h5{
  font-weight: 700;
  font-size: 20px;
  color: #364B70;
}
.box-1-of-ramadan-7 .title-sall-food-ramadan{
  font-weight: 700;
  font-size: 32px;  
  color: #B92728;
}
.super-ramadan-offers-7 .card{
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px 0px;
}
/* pop up header (navbar for mobile app) */
.close-btn-header{
  width: 45px;
  height: 45px;
  border-radius: 10%;
  background: #FFFFFF;
  border: 0.5px solid #EEEEEE;
  box-sizing: border-box;
}
.pop-up-header-content{
  border: 0px;
}
.pop-up-header-content .modal-body ul{
  list-style: none;
  margin-right: -75px;
  margin-top: 20px;
}
.pop-up-header-content .modal-body ul li .nav-link{
  border: 0px;
}
.pop-up-header-content .modal-body ul li{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 0.1px solid #efefef;
}
.pop-up-header-content .modal-body ul li a{
  font-size: 13px;
}
.d-m-mobile{
  position: absolute;
  background-color: #fff;
  border-top: 0px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  text-align: right;
}
.d-m-mobile a{
  color: #000 !important;
  font-size: 13px !important;
}
/* pop up header (navbar for mobile app) */
/* model pop up for sign up */
.close-btn-model{
  margin: 7px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 0.5px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-title{
  font-size: 28px;
}
.span-red-model{
  color: #B92728;
}
.modal-body{
  padding: 0px 35px;
}
.modal-footer{
  padding: 10px 35px;
}
/* model for making account */
.sighn-with-email{
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  padding: 60px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.sighn-with-number{
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  padding: 60px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-pop-up{
  width: 500px;
  height: 40px;
  background: #B92728;
  border-radius: 20px;
  border: 0px;
  color: #fff;
}
/* model pop up for sign up */
.menu-ghostee{
  position: absolute;
  right: -4000000000;
}
/* help-lavana */
.help-lavana{
  background-color: #B92728;
}
.content-help-lavana h4{
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}
.content-help-lavana p{
  font-weight: 400;
  font-size: 25px;
  margin-top: 25px;
  text-align: left;
  color: #fff;
}
.content-help-lavana h5{
  margin-top: 20px;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}
.content-help-lavana a{
  font-weight: 400;
  font-size: 28px;
  margin-top: 25px;
  color: #fff;
}
.ellipse-point{
  margin-left: 20px;
  padding-top: 15px;
}
.ellipse-point li{
  display: inline-block;
  margin: 0px 4px;
}
.ellipse-point-2{
  margin-right: 20px;
  padding-bottom: 15px;
}
.ellipse-point-2 li{
  display: inline-block;
  margin: 0px 4px;
}
/* help-lavana */
/* footer */
.containerF {
  max-width: 1170px;
  margin: auto;
}
.rowF {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footerF {
  background: rgba(243, 160, 142, 0.12);
  padding: 30px 0;
  margin-top: -20px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 24px;
  color: #B92728;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li {
  margin-right: -40px;
}
.footer-col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #B92728;
  padding-right: 8px;
}

.imgFoter {
  margin-top: -60px;
}

.socialLinFotter {
  margin-top: 40px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
}
.socialLinFotter ul {
  list-style: none;
}
.socialLinFotter ul li {
  display: inline-block;
  margin: 0px 10px;
  border-radius: 220px;
}
.socialLinFotter ul li img {
  width: 30px;
}
.socialLinFotter ul li:hover img {
  cursor: pointer;
  border-radius: 220px;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 -10px 10px rgba(255, 255, 255, 0.22);
  margin-top: -20px;
  transition: 0.3s;
}


.lav-ul-fot{
  margin-right: -43px;
}
.lav-ul-fot li{
  display: inline-block;
  margin: 12px 5px !important;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
.lav-ul-fot li img{
  width: 15px;
}
.one-lav{
  background-color: #B92728;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.two-lav{
  background-color: #B92728;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.three-lav{
  background-color: #B92728;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.four-lav{
  background-color: #B92728;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.one-lav:hover{
  background-color: #4867AA;
  transition: 0.3s;
}

.two-lav:hover{
  background-color: #FF9448;
  transition: 0.3s;
}
.three-lav:hover{
  background-color: #FF0000;
  transition: 0.3s;
}
.four-lav:hover{
  background-color: #1D9BF0;
  transition: 0.3s;
}
.last-fot-p{
  background-color: #B92728;
  margin-bottom: -30px;
}
.last-fot-p p{
  margin-top: -10px;
  padding-bottom: 10px;
}
/* footer */
/* start resbonsive */
@media screen and (max-width: 480px) {
  .nav-mobile{
    display: block;
  }
  .sec-navbar{
    display: none;
  }
  .sell-off{
    height: 35px;
  }
  .center-list{
    display: inline-block;
    margin: 0px 5px;
  }
  .center-list img{
    width: 36px;
  }
  /* section 4 */
  .title-p{
    font-size: 18px;
    font-weight: 400;
    width: 50%;
  }
  .img-responsive-m{
    margin-top: -139px;
  }
  .title-link{
    font-weight: 300;
    font-size: 18px;
  }
  /* section 4 */
  /* section 5 */
  .bg-counter-section .counter-section-card-1{
    width: 100%;
    height: 80px;
  }
  .counter-section-card-1 .card-title{
    font-size: 22px;
  }
  /* section 5 */
  /* section 6 */
  .deals-heading{
    font-size: 18px;
  }
  .deals-p{
    font-size: 18px;
  }
  .red-bg{
    padding: 8px;
  }
  .red-bg h2{
    font-size: 18px;
  }
  /* section 6 */
  /* section 7 today-offer */
  .today-offer .heading-c-t{
    font-size: 18px !important;
  }
  .ul-imges-ghost{
    padding-left: 20px;
    width: 100%;
  }
  .sall-off-15{
    top: -0.5px;
    left: -0.5px;
  }
  .today-offer .card-title{
    font-size: 16px;
  }
  .btn-1{
    padding: 4px 15px !important;
    font-size: 12px;
  }
  .btn-2{
    font-size: 16px;
  }

  .instead-of{
    font-size: 13px;
  }
  /* section 7 */
  /* section 9 today offer number-2 */
  .today-offer-number-2 .t-for-title-card-6{
    font-size: 18px;
  }

  .rate-stars-card-6{
    max-width: 130px;
  }
  .clinet-rate-card-6{
    font-size: 14px;
  }
  .btn-3{
    font-size: 12px; 
    padding: 4px 15px !important;
  }
  .btn-4{
    font-size: 16px;
  }
  .instead-of-card-6{
    font-size: 13px;
  }
  .ul-imges-ghost-2{
    height: 80px;
  }
  .ul-imges-ghost-2 li {
    margin-left: 40px;
  }
  .img-add-4{
    width: 33px;
  }
  .img-like-5{
    width: 30px;
  }
  .img-view-6{
    width: 36px;
  }
  /* section 9 */
  /* section 11 slider products 3 */
  .row-products{
    border-radius: 15px;
  }
  .box-1-of-ramadan-2 h5{
    font-size: 15px;
  }
  .super-ramadan-offers-6 .heading-r-o{
    font-size: 14px;
  }
  .box-1-of-ramadan-6 .title-sall-food-ramadan{
    font-size: 18px !important;
  }
  .box-1-of-ramadan-6 h5{
    font-size: 14px;
  }
  /* section 11 slider products 3 */
  .row-products{
    border-radius: 20px;
  }
  .img-responsive-slider{
    width: 50%;
    margin-top: -160px;
  }
  /* section 11 slider products 3 */
  /* section 10 super ramadan offers 2 */
  .super-ramadan-offers-2 .heading-r-o{
    font-size: 18px;
  }
  .box-1-of-ramadan-2 h5{
    font-size: 20px;
  }
  /* section 12 super ramadan offers 2 */
  .content-24-3 p{
    font-size: 20px;
  }
  .box-1-of-ramadan-3 h5{
    font-size: 16px;
  }
  /* section 12 */
  /* section 13 super ramadan offers 4 */
  .super-ramadan-offers-4 .heading-r-o{
    font-size: 16px;
  }
  .btn-link-a-4{
    font-size: 11px;
  }
  .box-1-of-ramadan-4 h5{
    font-size: 16px;
  }
  /* section 13 */
  /* section 15 super ramadan offers 5 */
  .super-ramadan-offers-5 .heading-r-o{
    font-size: 18px;
  }
  .super-ramadan-offers-5 .heading-r-o-p{
    font-size: 10px;
  }
  .btn-link-a-5{
    font-size: 14px;
  }
  .box-1-of-ramadan-5 h5{
    font-size: 16px;
  }
  /* section 15 */
  /* super-ramadan-offers-6 */
  .super-ramadan-offers-7{
    padding-top: 0rem;
    padding-bottom: 2rem;
    background-color: #fff;
  }
  .super-ramadan-offers-7 .heading-r-o{
    font-size: 15px;
  }
  .btn-link-a-7{
    font-size: 15px;
  }
  .box-1-of-ramadan-7 h5{
    font-size: 15px;
  }
  .box-1-of-ramadan-7 .title-sall-food-ramadan{
    font-size: 18px;
  }
  /* super-ramadan-offers-6 */
  /* model pop up for sign up */
  .modal{
    margin-top: 80px !important;
  }
  /* model pop up for sign up */
  /* swip left for menu */
  .fixed-menuAgain {
    right: -420px;
  }
  /* help */
  .content-help-lavana h4{
    font-weight: 400;
    font-size: 18px;
    text-align: right;
  }
  .content-help-lavana p{
    font-size: 17px;
    margin-top: 15px;
    text-align: right;
  }
  .content-help-lavana h5{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .content-help-lavana a{
    font-size: 17px;
  }
  .ellipse-point{
    margin-left: 0px;
  }
  .ellipse-point-2{
    margin-right: -40px;
  }
  /* help */
  /* counted time */
  .counter-section-card-2,.counter-section-card-3{
    border: 0px;
  }
  .counter-section-card-2 .card-body{
    color: #364B70;
    font-size: 30px;
  }
  .counter-section-card-2 span{
    margin: 0px;
    padding: 10px;
    font-size: 13px;
  }
  .col-bitc{
    margin-top: 0px;
    text-align: center;
  }
  /* counted time */
  /* footer */
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .imgFoter {
    margin-top: 0px;
  }
  .socialLinFotter {
    text-align: center;
    margin-left: 40px;
  }
  /* footer */
}
@media screen and (max-width: 920px) {

  .nav-mobile{
    display: block;
  }
  .sec-navbar{
    display: none;
  }
  .sell-off{
    height: 35px;
  }
  .sell-off ul li{
    font-size: 14px;
  }
  .center-list{
    display: inline-block;
    margin: 0px 5px;
  }
  .center-list img{
    width: 36px;
  }
  .hidden-mobile{
    display: none;
  }
  .title-p{
    font-size: 18px;
    font-weight: 400;
  }
  .title-link{
    font-weight: 300;
    font-size: 18px;
  }
  .row-products{
    border-radius: 15px;
  }
  .content-24 p{
    width: 300px;
    font-weight: 500;
    font-size: 18px;
  }
  .box-1-of-ramadan h5{
    font-size: 13px;
  }
  .box-1-of-ramadan p{
    font-size: 17px;
  }
  .box-1-of-ramadan-2 h5{
    font-size: 15px;
  }
  .super-ramadan-offers-6 .heading-r-o{
    font-size: 14px;
  }
  .box-1-of-ramadan-6 h5{
    font-size: 14px;
  }
  .sec-navbar{
    display: none !important;
  }
}
@media screen and (max-width: 280px) {
  .sell-off ul li{
    font-size: 10px;
  }
}
@media screen and (max-width: 1280px) {
  .nav-mobile{
    display: hidden;
  }
  .sec-navbar{
    display: none;
  }
  .search-bar{
    width: 600px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 50px;
  }
  .sec-navbar{
    display: block;
  }
  .sec-navbar ul li a{
    font-size: 11px;
  }
}
@media screen and (max-width: 1024px) {
  .search-bar{
    width: 370px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 50px;
  }
  .ul-imges-ghost-2{
    display: none;
  }
}